/SVNREV
/config.log
/config.status
/Makefile

/packages/mandriva/TeXmacs.spec
/packages/fedora/TeXmacs.spec
/packages/centos/TeXmacs.spec
/packages/debian/changelog
/packages/debian/control
/packages/windows/TeXmacs.iss
/packages/windows/resource.rc
/packages/macos/Base.xcconfig
/packages/macos/*.plist

/src/makefile
/src/Objects/
/src/System/config.h
/src/System/tm_configure.hpp
/TeXmacs/examples/plugins/dynlink/Makefile
/TeXmacs/bin/
/TeXmacs/plugins/

/misc/admin/admin.makefile
/misc/doxygen/Doxyfile
/misc/scripts/fig2ps
/misc/scripts/texmacs
/misc/man/texmacs.1
# After 'make'
/src/Plugins/Qt/moc_*.cpp
/plugins/axiom/bin/
/plugins/graphviz/bin/
/plugins/shell/bin/
/plugins/maple/bin/tm_maple_5
/plugins/mathematica/bin/realpath
/plugins/r/bin/tm_r
